.pokemon-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  justify-items: center;
  align-items: center;
  margin: auto;
  max-width: 80rem;
  border: 8px solid #ffde00;
  border-radius: 8px;
  padding: 1.6rem 3.2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.pokemon-card__general-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card__header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.pokemon-card__title {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.pokemon-card__id {
  font-size: 2rem;
  color: #ddd;
}

.pokemon-card__image {
  width: 100%;
  margin-bottom: 1.8rem;
  filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.7));
}

.pokemon-card__types {
  display: flex;
  gap: 5px;
}

.pokemon-card__stats {
  color: #212529;
  background-color: #ffde00;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  border-radius: 8px;
  padding: 1.6rem 3.2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

.normal {
  background-color: #a8a77a;
}
.fire {
  background-color: #ee8130;
}
.water {
  background-color: #6390f0;
}
.electric {
  background-color: #f7d02c;
}
.grass {
  background-color: #40c057;
}
.ice {
  background-color: #96d9d6;
}
.fighting {
  background-color: #c22e28;
}
.poison {
  background-color: #a33ea1;
}
.ground {
  background-color: #e2bf65;
}
.flying {
  background-color: #a98ff3;
}
.psychic {
  background-color: #f95587;
}
.bug {
  background-color: #a6b91a;
}
.rock {
  background-color: #b6a136;
}
.ghost {
  background-color: #735797;
}
.dragon {
  background-color: #6f35fc;
}
.dark {
  background-color: #705746;
}
.steel {
  background-color: #b7b7ce;
}
.fairy {
  background-color: #d685ad;
}

.fighting,
.poison,
.dragon,
.dark {
  color: #f8f9fa;
}
