.type-box {
  padding: 0.3rem 1rem;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  font-size: 1.2rem;
  /* border: 1px solid rgba(0, 0, 0, 0.312); */
  box-shadow: 1px 1px 3px rgb(36, 36, 36);
}
